@if (ViewBag.SortBy == ViewBag.ColumnName && ViewBag.sortOrder == SortOrderOptions.ASC.ToString())
{
    <th>
        <a href="~/persons/index?searchBy=@(ViewBag.CurrentSearchBy)&searchString=@(ViewBag.CurrentSearch)&sortBy=@(ViewBag.ColumnName)&sortOrder=@(nameof(SortOrderOptions.DESC))">
            @(ViewBag.DisplayName)
        </a>
        <i class="fa-solid fa-sort-up" />
    </th>
}
else if (ViewBag.SortBy == ViewBag.ColumnName && ViewBag.sortOrder == SortOrderOptions.DESC.ToString())
{
    <th>
        <a href="~/persons/index?searchBy=@(ViewBag.CurrentSearchBy)&searchString=@(ViewBag.CurrentSearch)&sortBy=@(ViewBag.ColumnName)&sortOrder=@(nameof(SortOrderOptions.ASC))">
            @(ViewBag.DisplayName)
        </a>
        <i class="fa-solid fa-sort-down" />
    </th>
}
else
{
    <th>
        <a href="~/persons/index?searchBy=@(ViewBag.CurrentSearchBy)&searchString=@(ViewBag.CurrentSearch)&sortBy=@(ViewBag.ColumnName)&sortOrder=@(nameof(SortOrderOptions.ASC))">
            @(ViewBag.DisplayName)
        </a>
    </th>
}